@import 'variables';
@import 'mixins';

.shop-container{
    @include container();

    section{
        flex: none;
        @include flex-center();

        &:nth-of-type(1){
            @include theme();
            @include max-vw-vh();
            
            .carousel{
                @include max-vw-vh();
                z-index: 0;
            }

            .carousel-indicators{
                z-index: 0;
            }
            
            .carousel-indicators .active{
                background-color: $accent-color;
                opacity: 1;
            }

            .carousel img{
                display: flex;
                margin: $center;
                width: 650px;
                height: auto;
                margin-top: 3rem;
            }

            .carousel-caption {
                top: 40%;
                left: 15%;
                bottom: auto;
                font-size: 6vw;
                letter-spacing: $spacing-s;
                opacity: 0.2;
                z-index: 1;
                color: $text-color-light;
                mix-blend-mode: soft-light;
            }

            .lrd-coffee{
                top: 33%;
            }
            
            .item-label-tin, .item-label-gb, .item-label-nd{
                position: absolute;
                top: 65%;

                h3{
                    font-size: 2vw;
                }

                button{
                    margin-top: $margin-sm;
                }
            }

            .item-label-tin{
                left: 64%;
            }

            .item-label-gb{
                left: 60%;
            }

            .item-label-nd{
                left: 63%;
            }

            #prev{
                width: 60px;
                height: auto;
                top: 35%;
                left: 8%;
            }

            #next{
                width: 60px;
                height: auto;
                top: 35%;
                right: 2%;
            }
        }  
    }
}

@media screen and (min-width: 424px) and (max-width: 767px){
    .shop-container{
        @include md-container();
 
        section{
            overflow-y: scroll;
            overflow-x: hidden;
            width: $max-pc;
            height: $max-pc;

            &:nth-of-type(1){
                .carousel img{
                    width: 370px;
                }

                .carousel-caption {
                    top: 42%;
                    font-size: 4vw;
                }

                .item-label{
                    top: 76%;
                    left: 65%; 

                    h3{
                        font-size: 3vw;
                    }

                    button{ 
                        font-size: 2.5vw;
                        margin-top: 1rem;
                    }
                }
    
                #prev{
                    width: 35px;
                    left: 8.5%;
                }
    
                #next{
                    width: 35px;
                    right: 4%;
                } 
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width:1023px){
    .shop-container{
        @include md-container();
 
        section{
            overflow-y: scroll;
            overflow-x: hidden;
            width: $max-pc;
            height: $max-pc;

            &:nth-of-type(1){
                width: $max-pc;
                height: $max-pc;
            
                .carousel img{
                    width: 400px;
                }
                .carousel-caption {
                    top: 37%;
                }
                .item-label{
                    top: 65%;
                    left: 65%; 
                    h3{
                        font-size: 2vw;
                    }

                    button{
                        margin-top: $margin-s;
                    }
                }
    
                #prev{
                    width: 35px;
                    left: 8.5%;
                }
    
                #next{
                    width: 35px;
                    right: 4%;
                } 
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px){
    .shop-container{
        section{
            &:nth-of-type(1){
                .carousel img{
                    width: 600px;
                }
            }
        }
    }
}